.select-symptoms {
    height: 4rem;
    padding: 0.5rem;
    font-size: 20px;
    background-color: var(--primary-light);
    color: var(--text-light);
    border: none;
}

.select-symptoms:focus {
    background-color: var(--text-dark);
    color: var(--text-light);
}   

.select-symptoms:disabled {
    background-color: var(--primary-light);
    color: var(--text-disabled-light);
}

.select-option {
    background-color: var(--select-option);
    color: var(--text-dark);
}

.del-symptom-btn{
    margin-bottom: 2rem;
}

#symptomSelectorContainer {
    width: 70%;
}

.ctaPanel {
    padding: 1rem;
    align-items: flex-start;
}

#addNewSymptomBtn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: -1.5rem;
    bottom: 5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}

#addNewSymptomBtnContent{
    font-size: 30px;
}


#searchCancers {
    margin: 1rem 0.25rem 1rem 0rem;
    width: 75%;
    color: var(--text-dark);
}

#clearAllSymptoms {
    margin: 1rem 0rem 1rem 0.25rem;
    width: 25%;
}

#loginSignupPanel {
    align-items: center;
    justify-content: space-around;
}

#ctaPanelContainer {
    width: 30%;
}