:root {
    --primary: #103359;
    --primary-light: #1F3C5D;
    --contrast: #F1F1F1;
    --text-light: #DBDBDB;
    --text-disabled-light: #AAAAAA;
    --select-option: #AAAAAA;
    --text-dark: #353535;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
}

.header,
.footer {
    padding: 5px;
    text-align: center;
    color: var(--text-light);
    background-color: var(--primary-light);
}

.footer {
    position: fixed;
    bottom: 0%;
    left: 0%;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.main-central-container {
    height: auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.text-color-dark {
    color: var(--text-dark);
}

.select-symptoms {
    height: 4rem;
    /* margin-bottom: 1rem; */
    /* margin-top: 1rem; */
    padding: 0.5rem;
    font-size: 20px;
    background-color: var(--primary-light);
    color: var(--text-light);
    border: none;
}

.select-symptoms:focus {
    background-color: var(--text-dark);
    color: var(--text-light);
}   

.select-symptoms:disabled {
    background-color: var(--primary-light);
    color: var(--text-disabled-light);
}

.select-option {
    background-color: var(--select-option);
    color: var(--text-dark);
}

.forms {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.del-symptom-btn{
    margin-bottom: 2rem;
}

#addNewSymptomBtn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: -1.5rem;
    bottom: 5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: none;
}

#addNewSymptomBtnContent{
    font-size: 30px;
}


#searchCancers {
    margin: 1rem 0.25rem 1rem 0rem;
    width: 75%;
    color: var(--text-dark);
}

#clearAllSymptoms {
    margin: 1rem 0rem 1rem 0.25rem;
    width: 25%;
}
