.create-an-account {
    background-color: var(--primary-light);
    border-radius: 25px;
    width: 55%;
    margin: 2rem 0 4rem;
    padding: 0 2rem 0;
}

#signUpBtn {
    width: 65%;
}

#cancelSignUpBtn {
    width: 35%;
}