{% extends "_base.html" %}


{% block title %}
    Medisight
{% endblock %}


{% block body %}
<div class="accordion custom-accordion" id="accordianPanelWithOneOpen">

  {% for diseases in diseases %}    
    <div class="accordion-item custom-accordion-item">
      <h2 class="accordion-header custom-accordion-header">
        <button class="accordion-button custom-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="{{'#panelsStayOpen-collapse' ~ loop.index}}" aria-expanded="true" aria-controls="{{'panelsStayOpen-collapse' ~ loop.index}}">
          <span><em>Leukemia</em></span>
          <div class="down-arrow">
            <div class="left-wing"></div>
            <div class="right-wing"></div>
          </div>
        </button>
        <button id="{{'showTestsBtn' ~ loop.index}}" class="tests-btn text-color-dark btn btn-info mt-2 mb-2 ml-2 mr-0" type="button">
          Available Tests
        </button>
        <button id="{{'showDoctorsBtn' ~ loop.index}}" class="doctors-btn text-color-dark btn btn-info mt-2 mb-2 mr-2 ml-0" type="button">
          Doctors Nearby
        </button>
      </h2>
      <div id="{{'panelsStayOpen-collapse' ~ loop.index}}" class="accordion-collapse collapse">
        <div class="accordion-body custom-accordion-body">
          <div class="symptoms-header">
            <h5>Associated with the following symptoms:</h5>
          </div>
          <div class = "symptoms-list">
            <ul>
              {% for symptom in symptoms %}
                <li>{{ symptom }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class = "disease-department">
            <h5>Under the medical department: <h6>{{ medDepartment }}</h6></h5>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock %}


{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/showCancers.css') }}">
{% endblock %}


{% block custom_js %}
    <script type="module" src="{{url_for('static', filename='js/showCancers.js')}}"></script>
{% endblock %}