{% extends "_base.html" %}


{% block title %}
    Medisight
{% endblock %}


{% block header_text %}
    Medisight Cancerbase
{% endblock %}


{% block body %}
<div class="box-column mt-3 mb-3">
    <form id="signUpForm" action="/signUp" method="post">
        <div class="box box-space-evenly form-holder">
            <div class="create-an-account">
                <legend class="text-light mt-3">Sign Up</legend>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" aria-describedby="usernameHelp" placeholder="johndoe" required>
                    <small id="usernameHelp" class="form-text text-muted">Unique username.</small>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="johndoe@xyz.com" required>
                    <small id="emailHelp" class="form-text text-muted">Your email ID.</small>
                </div>
                <div class="form-group">
                    <label for="userRole">Role</label>
                    <select class="form-control" id="userRole" name="userRole" aria-describedby="userRoleHelp" required>
                        <option value="patient">Patient</option>
                        <option value="doctor">Doctor</option>
                    </select>
                    <small id="userRoleHelp" class="form-text text-muted">Patient / Doctor.</small>
                </div>
                <div class="form-group">
                    <label for="pswd">Password</label>
                    <input type="password" class="form-control" id="pswd" name="pswd" aria-describedby="pswdHelp" placeholder="P@ssword" required>
                    <small id="pswdHelp" class="form-text text-muted">At least 8 characters; should contain at least 1 each of capital letter, special character.</small>
                </div>
                <div class="form-group">
                    <label for="cpswd">Confirm Password</label>
                    <input type="password" class="form-control" id="cpswd" name="cpswd" aria-describedby="cpswdHelp" placeholder="P@ssword" required>
                    <small id="cpswdHelp" class="form-text text-muted">Re-enter the password.</small>
                </div>
                <div class="box mt-4 mb-5">
                    <button type="submit" id="signUpBtn" class="btn btn-success mr-1">Sign Up</button>
                    <button type="button" id="cancelSignUpBtn" class="btn btn-outline-danger ml-1">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}


{% block custom_css %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/signUp.css') }}">
{% endblock %}


{% block custom_js %}
    <script type="module" src="{{url_for('static', filename='js/signUp.js')}}"></script>
{% endblock %}